<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsm.common.dao.BaseDao">
    <insert id="save" parameterType="com.lsm.common.db.DBCommonPO" useGeneratedKeys="true" keyProperty="pk.keyValue">
        INSERT INTO ${tableName} (
        creater_time,
        is_delete,
        <foreach collection="saveColumns.colums" item="item" index="index" separator=",">
            ${item}
        </foreach>
        ) VALUES (
        NOW(),
        0,
        <foreach collection="saveColumns.values" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </insert>
    <delete id="remove" parameterType="com.lsm.common.db.DBCommonPO">
        DELETE FROM ${tableName}
        WHERE 1 = 1
        <if test="pk != null">
            AND ${pk.keyId} = #{pk.keyValue}
        </if>
        <if test="wheres != null and wheres.size()>0">
            <foreach collection="wheres" item="item">
                <if test="item.relation=='and'">
                    AND ${item.field} ${item.expression} #{item.value}
                </if>
                <if test="item.relation=='or'">
                    OR ${item.field} ${item.expression} #{item.value}
                </if>
            </foreach>
        </if>
    </delete>
    <update id="update" parameterType="com.lsm.common.db.DBCommonPO">
        UPDATE ${tableName} SET
        updater_time = NOW(),
        <foreach collection="updateColumns" item="item" index="index" separator=",">
            ${item.column} = #{item.value}
        </foreach>
        WHERE is_delete = 0
        <if test="pk != null">
            AND ${pk.keyId} = #{pk.keyValue}
        </if>
        <if test="wheres != null and wheres.size()>0">
            <foreach collection="wheres" item="item">
                <if test="item.relation=='and'">
                    AND ${item.field} ${item.expression} #{item.value}
                </if>
                <if test="item.relation=='or'">
                    OR ${item.field} ${item.expression} #{item.value}
                </if>
            </foreach>
        </if>
    </update>
    <select id="get" parameterType="com.lsm.common.db.DBCommonPO" resultType="java.util.HashMap">
        <if test="selectColumns != null and selectColumns.size()>0">
            SELECT
            <foreach collection="selectColumns" item="item" index="index" separator=",">
                ${item}
            </foreach>
            FROM ${tableName}
        </if>
        <if test="selectColumns == null">
            SELECT * FROM ${tableName}
        </if>
        WHERE 1 = 1
        <if test="pk != null">
            AND ${pk.keyId} = #{pk.keyValue}
        </if>
        <if test="wheres != null and wheres.size()>0">
            <foreach collection="wheres" item="item">
                <if test="item.relation=='and'">
                    AND ${item.field} ${item.expression} #{item.value}
                </if>
                <if test="item.relation=='or'">
                    OR ${item.field} ${item.expression} #{item.value}
                </if>
            </foreach>
        </if>
    </select>
</mapper>