<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsm.common.dao.BaseDao">
    <insert id="save" parameterType="java.util.HashMap">
        INSERT INTO ${TABLE_NAME} (
        <foreach collection="COLUMNS" item="item" index="index" separator=",">
            ${item}
        </foreach>
        ) VALUES (
        <foreach collection="VALUES" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </insert>
    <select id="get" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT * FROM ${TABLE_NAME}
        <if test="WHERES != null and WHERES.size()>0">
            WHERE 1 = 1
            <foreach collection="WHERES" item="item">
                <if test="item.relation=='and'">
                    AND ${item.field} ${item.expression} #{item.value}
                </if>
                <if test="item.relation=='or'">
                    OR ${item.field} ${item.expression} #{item.value}
                </if>
            </foreach>
        </if>
    </select>
    <select id="remove" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        DELETE FROM ${TABLE_NAME}
        <if test="WHERES != null and WHERES.size()>0">
            WHERE 1 = 1
            <foreach collection="WHERES" item="item">
                <if test="item.relation=='and'">
                    AND ${item.field} ${item.expression} #{item.value}
                </if>
                <if test="item.relation=='or'">
                    OR ${item.field} ${item.expression} #{item.value}
                </if>
            </foreach>
        </if>
    </select>
</mapper>